<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <center>  
                    <h1> Add new task </h1>
            </center>

            
                <form action = "addNewTask" method="POST">
                    <p>
                        <br> Task Name: <input type="text" name="name"/>
                        <br> Task Due: <input type="date" name="due"/>
                        <br> Task Status: <select name="status">
                                                <option value = "InProgress">In Progress</option>
                                                <option value = "Completed">Completed</option>
                                                </select>
                        <br> Task Desc: <input type="text" name="desc"/>
                    </p>
                    <button>Submit</button>
                </form>
            <p>
                    
                <br> Home Page: <a href = '/'> Home Page </a>
                <br> Add new Developer: <a href = '/addDev'> Add new Developer</a>
                <br> List All developers: <a href = '/getDev'> List all developers</a>
                    <br> List all the tasks: <a href = '/listTasks'> List all Tasks</a>
                    <br> Delete Task by ID: <a href = '/deleteTaskID'> Delete Task </a>
                    <br> Delete All Completed Tasks: <a href = '/deleteCompleted'> Delete Completed Task</a>
                    <br> Update Status: <a href = '/updateStatus'> Update Status </a>
            </p>

        
    </body>
</html>