<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
        <body>

                <form action="deleteTaskID" method="POST">
                        <br> ID: <input type="text" name="id"/>
                        <br> <button>Delete</button>

                </form>

            <p>
                    <br> Home Page: <a href = '/'> Home Page </a>
                    <br> Add New taks: <a href = '/addTask'> Add new Task</a>
                    <br> List all the tasks: <a href = '/listTasks'> List all Tasks</a>
                    <br> Delete All Completed Tasks: <a href = '/deleteCompleted'> Delete Completed Task</a>
                    <br> Update Status: <a href = '/updateStatus'> Update Status </a>
            </p>
            
        </body>
</html>