<html>
    <head>
       <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <center>  
            <img src="welc.png" width="500" height="100"> 
            <br> <h1> ToDo app </h1>
        </center>
        <p> 
                <br> Add New taks: <a href = '/addTask'> Add new Task</a>
                <br> List all the tasks: <a href = '/listTasks'> List all Tasks</a>
                <br> Delete Task by ID: <a href = '/deleteTaskID'> Delete Task </a>
                <br> Delete All Completed Tasks: <a href = '/deleteCompleted'> Delete Completed Task</a>
                <br> Update Status: <a href = '/updateStatus'> Update Status </a>
        </p>

    </body>
</html>