<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
            <center>  
                        <h1> List All Tasks </h1>
             

             <p>
                <table id='t1'>
                    <tr>
                        <th>
                            Task ID
                        </th>
                        <th>
                            Task Name
                        </th>
                        <th>
                            Developer ID
                        </th>
                        <th>
                            Task Due Date
                        </th>
                        <th>
                            Task Status
                        </th>
                        <th>
                            Task Description
                        </th>
                    </tr>
                    
                    <% for (let i=0; i < db.length; i++) {%>
                        <tr>
                            <td><%= db[i]._id%></td>
                            <td><%= db[i].name%></td>
                            <td><%= db[i].assign%></td>
                            <td><%= db[i].due%></td>
                            <td><%= db[i].status%></td>
                            <td><%= db[i].desc%></td>

                        </tr>

                    <% } %>

                </table>

             </p>

            </center>
             <p> 
                    <br> Home Page: <a href = '/'> Home Page </a>
                    <br> Add new Developer: <a href = '/addDev'> Add new Developer</a>
                    <br> List All developers: <a href = '/getDev'> List all developers</a>
                    <br> Add New taks: <a href = '/addTask'> Add new Task</a>
                    <br> Delete Task by ID: <a href = '/deleteTaskID'> Delete Task </a>
                    <br> Delete All Completed Tasks: <a href = '/deleteCompleted'> Delete Completed Task</a>
                    <br> Update Status: <a href = '/updateStatus'> Update Status </a>
                    
            </p>
    </body>
</html>